<div class="contact-info">
    <h3>{{info.titulo}}</h3>
    <div class="info-items">
        {{#each info.contactos}}
        <div class="info-item">
            {{{this.icono}}}
            <div class="info-text">
                <strong>{{this.tipo}}:</strong>
                <p>{{this.valor}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>