<footer>
    <span>&copy; Tecnitours S. de R.L. 2025</span>
    <div class="redesSociales">
        <a href="https://www.facebook.com/p/Tecnitours-100063662585869/" target="_blank" aria-label="Facebook">
            <img src="./imgs/icons/facebook.png" alt="Facebook">
        </a>
        <a href="https://www.instagram.com/tecnitours?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
            target="_blank" aria-label="Instagram">
            <img src="./imgs/icons/instagram.png" alt="Instagram">
        </a>
    </div>
</footer>