<div id="loader">
    <p class="company-name">
        <span>T</span><span>e</span><span>c</span><span>n</span><span>i</span><span>t</span><span>o</span><span>u</span><span>r</span><span>s</span>
    </p>
    <div class="earth-container">
        <img src="/imgs/icons/planeta-tierra.png" alt="Planeta Tierra" class="earth">
        <div class="orbit">
            <img src="/imgs/icons/avion.png" alt="avion" class="plane">
        </div>
    </div>
</div>